<article class="post-item">
  
  <p class="post-item-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit libero in neque aliquam, eget iaculis mi porta. Sed blandit, nisl nec vulputate sagittis, purus odio venenatis felis, at blandit nunc lorem ut massa. Proin tempus tincidunt neque, quis bibendum mi semper ut. Curabitur mollis dapibus diam, sed sodales leo efficitur blandit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In accumsan augue justo, vitae egestas risus porta sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat tempor tortor, quis malesuada elit euismod at. Duis sem nibh, luctus sit amet arcu varius, accumsan vulputate quam. Ut lectus velit, lobortis et arcu sit amet, blandit porta dui. Morbi ac turpis ac ex blandit posuere. Suspendisse potenti. 
  </p>
  
  <div class="post-info">
    <img width="50" height="50" class="e-avatar">
    <a href="/user"><p class="e-name"> krishna </p></a>
    <p>
      in
    </p>
    <p class="tag">
      Science
    </p>
  </div>
  <div class="post-info">
  <a href="/">
    <h2 class="post-title">Hello, World</h2>
  </a>
    <p>Oct 7 </p>
    <p>&#128420;</p>
  </div>
</article>