<article class="post-item">
  <img width="300" height="150" class="post-img" />
  <div class="post-detail">
    <div class="post-info">
      <p class="post-title">
        Hello, World
      </p>
      <img width="30" height="30" class="e-avatar" />
      <p class="e-name">
        Krishna
      </p>
    </div>
    <div class="post-info">
      <p>
        Oct 7 2020
      </p>
      <p class="tag">
        Science
      </p>
      <p class="tag">
        fusion
      </p>
    </div>
    <p class="post-item-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit
      libero in neque aliquam, eget iaculis mi porta. Sed blandit, nisl nec
      vulputate sagittis, purus odio venenatis felis, at blandit nunc lorem ut
      massa. Proin tempus tincidunt neque, quis bibendum mi semper ut. Curabitur
      mollis dapibus diam, sed sodales leo efficitur blandit. Orci varius
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      In accumsan augue justo, vitae egestas risus porta sit amet. Lorem ipsum
      dolor sit amet, consectetur adipiscing elit. Praesent feugiat tempor
      tortor, quis malesuada elit euismod at. Duis sem nibh, luctus sit amet
      arcu varius, accumsan vulputate quam. Ut lectus velit, lobortis et arcu
      sit amet, blandit porta dui. Morbi ac turpis ac ex blandit posuere.
      Suspendisse potenti.
    </p>
  </div>
</article>
