<div>
  <title-nav></title-nav>
  <section class="post-view">
  <div class="post-info">
    <img width="50" height="50" class="e-avatar">
    <a href="/user"><p class="e-name"> krishna </p></a>
    <p>
      in
    </p>
    <p class="tag">
      Science
    </p>
  </div>
  <div class="post-info">
  <a href="/">
    <h2 class="post-title">Hello, World</h2>
  </a>
    <p>Oct 7 </p>
    <p>&#128420;</p>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget risus pulvinar, ultricies dui non, blandit ligula. In eget dignissim diam. Ut auctor felis nec neque tempor, id fringilla nisi elementum. Phasellus varius molestie eros at aliquam. Integer eget mollis felis, eget varius enim. Vestibulum id elementum massa. Suspendisse at ipsum quis metus porta pretium nec id lectus. Nullam urna mauris, consectetur non lacus vitae, euismod tempor arcu. Phasellus ornare id dui id volutpat. Nullam felis sem, pellentesque in lacus et, consequat pulvinar quam. Pellentesque placerat leo ultricies risus accumsan hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst.
Suspendisse orci ex, egestas et viverra ac, posuere quis mauris. Curabitur ullamcorper et leo a posuere. Praesent ultrices laoreet neque, at vehicula neque tincidunt ullamcorper. Nullam mi nunc, ultrices nec turpis ac, euismod porta libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec imperdiet magna sit amet purus rhoncus dignissim. Phasellus vitae libero enim. Mauris non sodales leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fermentum quis velit ac feugiat. Mauris ante nibh, aliquet a magna eget, bibendum elementum est. Proin ut dui ut urna vestibulum molestie eget quis urna. Nunc nec neque aliquet, luctus ipsum nec, porttitor velit. Nunc in laoreet metus, et condimentum diam.
  </p>
  </section>
  <comments-view></comments-view>
</div>