body {
  margin: 0px;
  font-family: helvetica;
  background-color: white;
}

.title-nav {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  font-size: 24px;
  padding: 10px;
  padding-left: 20px;
}

.topic-nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.title-nav p {
  margin: 0px;
}

.searchbar {
  width: 30vw;
  height: 50px;
  
  border: 1px solid grey;
  border-radius: 20px;
}



.nav-menu {
  width: 20vw;
  margin: 0px;
  list-style: none;
  display: inline-flex;
  justify-content: space-around;
}



.g-avatar {
  background-color: lightgrey;
  border-radius: 25px;
}


.post-item {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.post-item-text {
  font-size: 18px;
}

section {
  margin: 15px;
}

.e-avatar, .c-avatar {
  background-color: lightgrey;
  border-radius: 25px;
}

.post-info, .comment-info {
  display: inline-flex;
}

.post-info > *, .comment-info > * {
   margin-left: 10px;
}



.searchbutton {
  font-size: 34px;
  background: transparent;
  border:none;
  position: relative;
  top: 5px;
  right: 50px;
}

.tag {
  background-color: palegoldenrod;
  padding: 5px;
  border-radius: 4px;
}

.post-view {
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

textarea {
  width: 600px;
  height: 200px;
  margin-bottom: 10px;
}

.comments {
  margin-left: 100px;
}